.header-title {
  background: {
    color: $title-bg-color;
  }
  height: 100vh;              // use vh instead % to solve wowjs elem visible: hidden problem
  text-align: center;

  h1 {
    font: {
      size: 2.4em;
      weight: 800;
    }
  }

  // caption under header text
  p {
    color: rgba($black, .8);
    font: {
      family: serif;
      size: .8em;
      style: italic;
    }
    letter-spacing: .2em;
    margin-top: .5rem;
  }

  // medium size
  @media ($md-size) {
    h1 {
      font-size: 5em;
    }

    p {
      font-size: 1em;
    }
  }
}
